---
apiVersion: v1
kind: Pod
metadata:
  name: opencanary
spec:
  containers:
  - name: opencanary1
    image: {{ CANARY_IMAGE }}
    env:
    - name: variable1
      value: value1
    volumeMounts:
    - name: conf_vol
      mountPath: /etc/opencanaryd/opencanary.conf:Z
    livenessProbe:
      httpGet:
        path: /index.html
        port: 80
      initialDelaySeconds: 15
      periodSeconds: 30
  restartPolicy: Always
  volumes:
  - name: conf_vol
    hostPath:
      path: /home/{{ CANARY_USER }}/config/opencanary.conf
  